reports/

stimuli/iqa/ 
# ignore stimuli/iqa from tracking due to file size

.DS_Store
# stimuli/iqa_pilot/ contains the images used by the experiment for pilot testing
# stimuli/rot/ and stimuli/mitre/ are tracked (34 MB + 6.7 MB is within GitHub limits)

